{% extends "header.html" %}

{% block content %}
<div class="container">

    <h7><a href="/">Home</a> &raquo; <a href="/seo/content">Content Service</a> &raquo; Add Content</h5>

    <h3>Add Content!</h3><br>

    <form action="{{ url }}" method="post" target="_blank">
        URL*</label> <input class="form-control" type="text" name="url" required><br>
        Short Description<textarea class="form-control" rows="4" name="short_description"></textarea><br>
        Content Header<input class="form-control" type="text" name="content_header"><br>
        Content*<textarea class="form-control" rows="8" name="content" required></textarea><br>
        <input class="form-control" type="submit" value="Submit">
    </form>

</div>

{% endblock %}