{% extends "header.html" %}

{% block content %}
<div class="container">

    <h7><a href="/">Home</a> &raquo; <a href="/seo/keyword">Keyword Service</a> &raquo; Get Google Suggestions</h5>

    <h3>Get Google Suggestions!</h3><br>

    <form method="get">
        Keyword*</label> <input class="form-control" type="text" name="keyword" required><br>
        <input class="form-control" type="submit" value="Submit">
    </form>
    <br><br>

    {% if data: %}
     	<table border="1">
     		<tr>
     			<th>Keyword</th>
     			<th>Search Term</th>
     			<th>Volume</th>
     			<th>CPC</th>
     			<th>Competition</th>
     		</tr>
    		{% for key in sorted_list %}
    				{% for keyword_data in data[key] %}
    					{% if keyword_data['volume'] %}
			    			<tr>
						    	<td>{{ key|e }}</td>
		    					<td>{{ keyword_data['string'] }}</td>
					    		<td>{{ keyword_data['volume'] }}</td>
					    		<td>{{ keyword_data['cpc'] }}</td>
					    		<td>{{ keyword_data['cmp'] }}</td>
						    </tr>
						{% endif %}
			    	{% endfor %}
			{% endfor %}
		</table>
   {% endif %}

</div>

{% endblock %}